<div class="welcome-page">
    <div class="welcome-page__date-time" style="color: black;"><i>Ngày 18 tháng 6 năm 2023</i></div>
    <div class="welcome-page__greeting">
        <img src="../../assets/images/welcome-page/cloud_1.png">
        <p>Xin chào Tiểu Mây</p>
    </div>
    <div>
        <p style="padding: 0 20px;">Thật tuyệt vời khi gặp được Mây mỗi ngày</p>
    </div>
    <div>
        <div style=" background-color:  rgba(0, 0, 0, 0.014);">
            <img src="../../assets/images/welcome-page/weather.png" style="width: 100%; height: 100%;">
        </div>
        <!-- <div>
            <p>Độ ẩm: 2%</p>
            <p>Gió: 100</p>
        </div> -->
    </div>
    <div>
        <p style="font-size: 6vw; padding: 0 10px;">
            Hy vọng bạn có một ngày tuyệt vời!!!
        </p>
    </div>
    <div class="welcome-page__footer">
        <img src="../../assets/images/welcome-page/cloud_2.png">
        <p>Start with Tiểu Mây Diary!</p>
    </div>
</div>