.app-header {
  background-color: #9aafe8;
  max-width: 1000px;
  max-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__left-menu {
    img {
      max-width: 25px;
      max-height: 25px;
    }
  }
  &__right-opion {
    img {
      max-width: 25px;
      max-height: 25px;
    }
  }
}
